name: Preview Flask

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t flask-preview .
